<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Student Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" routerLink="/add" >Add Student <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search"
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search students..." required>
       </form>
    </div>
</nav>

<div class="container" id="main-container">
  <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
                      <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" ngModel name="name" class="form-control" id="name"  required>
                      </div>
                      <div class="form-group">
                          <label for="email">Email Address</label>
                          <input type="email" ngModel name="email" class="form-control" id="email"  required>
                      </div>
                      <div class="form-group">
                          <label for="groupe">Groupe</label>
                          <input type="text" ngModel name="groupe" class="form-control" id="groupe"  required>
                      </div>
                      <div class="form-group">
                          <label for="telephone">Telephone</label>
                          <input type="text" ngModel name="telephone" class="form-control" id="telephone"  required>
                      </div>
                      <div class="modal-footer">
                          <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
